<a href="https://colab.research.google.com/github/empios/175IC-machine-learning/blob/main/Zadanie2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [35]:
import pandas as pd
import numpy as np



dane={"size":['L','M','S','M',np.nan,'L','M',np.nan,np.nan,'XL'],
      "color":['green','red',np.nan,'red', 'red','black',np.nan,'orange','black','green'],
      "gender":['female','female','male','male','male',np.nan,'male','male',np.nan,'male'],
      "price":[149.0,79.0,82.0,np.nan,100.0,np.nan,200.5,30.5,140.0,76.3],
      "weight":[380,410,210,245,567,534,234,222,np.nan,111],
      "bought":['no','yes','yes',np.nan,'no',np.nan,'yes','yes','no','yes']
}


##ZADANIE 1
df_raw=pd.DataFrame(data=dane)
for (index, row) in df_raw.iterrows():
  if(row.isnull().sum() >= 3):
    df_raw = df_raw.drop(index=index)

##ZADANIE 2
df_raw2=pd.DataFrame(data=dane)
df_raw2['price'].fillna(df_raw2['price'].mean(), inplace=True)

##ZADANIE 3 i 4
df_raw3 = pd.DataFrame(data=dane)
df_raw3['weight'].interpolate(inplace=True)
df_raw3['gender'].fillna('male', inplace=True)
df_raw3['size'].fillna('unisex', inplace=True)
df_raw3['color'].fillna('black', inplace=True)

##ZADANIE 5 i 6 oraz 7

df_raw3['cost'] = pd.cut(df_raw3['price'], bins=3, labels=["cheap", "normal", "expensive"])
df_raw3['bought'].replace(to_replace="yes", value=bin(1), inplace=True)
df_raw3['bought'].replace(to_replace="no", value=bin(0), inplace=True)

train_set = df_raw3.sample(frac=0.75, random_state=0)
test_set = df_raw3.drop(train_set.index)

     size   color  gender  price  weight bought       cost
2       S   black    male   82.0   210.0    0b1      cheap
8  unisex   black    male  140.0   166.5    0b0     normal
4  unisex     red    male  100.0   567.0    0b0     normal
9      XL   green    male   76.3   111.0    0b1      cheap
1       M     red  female   79.0   410.0    0b1      cheap
6       M   black    male  200.5   234.0    0b1  expensive
7  unisex  orange    male   30.5   222.0    0b1      cheap
3       M     red    male    NaN   245.0    NaN        NaN
  size  color  gender  price  weight bought       cost
0    L  green  female  149.0   380.0    0b0  expensive
5    L  black    male    NaN   534.0    NaN        NaN